<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PostMapper">

	
	<!--
		int getTotalRows(Map<String, Object> condition);
	-->
	<select id="getTotalRows" parameterType="map" resultType="int">
		select 
			count(*)
		from
			app_posts A, app_users B
		where 
			A.deleted = 'N'
			and A.user_no = B.user_no
			<if test="opt != null and keyword != null">
				<choose>
					<when test="opt == 'title'">
						and A.title like '%' || #{keyword} ||'%'
					</when>
					<when test="opt == 'writer'">
						and B.name like '%' || #{keyword} ||'%'
					</when>
					<when test="opt == 'content'">
						and A.content like '%' || #{keyword} ||'%'
					</when>
				</choose>
			</if>
	</select>

	<!-- 
		List<Post> getPosts(Map<String, Object> condition);
	-->
	<select id="getPosts" parameterType="map" resultType="Post">
		select
			A.post_no	   postNo
		  , A.user_no      userNo
		  , B.name         "user.name"
		  , A.title
		  , A.created_date createdDate
		from
			app_posts A, app_users B
		where
			A.user_no = B.user_no
			and A.deleted = 'N'
			<if test="opt != null and keyword != null">
				<choose>
					<when test="opt == 'title'">
						and A.title like '%' || #{keyword} ||'%'
					</when>
					<when test="opt == 'writer'">
						and B.name like '%' || #{keyword} ||'%'
					</when>
					<when test="opt == 'content'">
						and A.content like '%' || #{keyword} ||'%'
					</when>
				</choose>
			</if>
		order by
			A.post_no desc		
		offset #{offset} rows
		fetch next #{rows} rows only	
	</select>
	
	<!-- 
		void insertPost(Post post);
	-->
	<insert id="insertPost" parameterType="Post">
		insert into app_posts
		(
		   post_no
	     , user_no
	     , title
	     , content
	     <if test="filename != null">
	     , filename
	     </if>
	    )
	    values
	    (
	       app_posts_seq.nextval
	     , #{userNo}
	     , #{title}
	     , #{content}
		 <if test="filename != null">
	     , #{filename}
		 </if>
	    )
	</insert>
	
	<!-- 
		Post getPostByPostNo(int postNo);
	-->
	<select id="getPostByPostNo" resultType="Post">
		select
			A.post_no			postNo
		  , A.user_no			userNo
		  , B.name              "user.name"
		  , A.title
		  , A.content
		  , A.filename
		  , A.deleted
		  , A.created_date		createdDate
		  , A.updated_date		updatedDate
		from
			app_posts A, app_users B
		where
			A.user_no = B.user_no
			and A.post_no = #{postNo}
	</select>
	
	<!-- 
		void updatePost(Post post);
	-->
	<update id="updatePost" parameterType="Post">
		update
			app_posts
		set
			updated_date = sysdate
			<if test="title != null">
				, title = #{title}
			</if>
			<if test="content != null">
				, content = #{content}
			</if>
			<if test="filename != null">
				, filename = #{filename}
			</if>
			<if test="deleted != null">
				, deleted = #{deleted}
			</if>
		where
			post_no = #{postNo}
	</update>

</mapper>









