<!DOCTYPE html>
<html>
<nav th:fragment="navbar-fragment" class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="/">홈</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="/posts/list">게시판</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/home">관리자</a>
				</li>
			</ul>
			<span class="navbar-text">
				<strong class="text-white">hong</strong>님 환영합니다.
			</span>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/login">로그인</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/register">회원가입</a>
				</li>
				<li class="nav-item">
					<form action="/logout" method="post" class="d-inline">
						<button type="submit" class="btn btn-link nav-link">로그아웃</button>
					</form>
				</li>
			</ul>
		</div>
	</div>
</nav>
</html>