<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CommentMapper">

	<!--
		Comment getCommentByCommentNo(int commentNo);
	-->
	<select id="getCommentByCommentNo" resultType="Comment">
		select
			c.comment_no commentNo
			, c.post_no postNo
			, u.user_no userNo
			, u.username "user.username"
			, u.name "user.name"
			, c.content
			, c.created_date createdDate
		from
			app_comments c, app_users u
		where
			c.user_no = u.user_no
			and c.comment_no = #{commentNo}
	</select>

	<!--
		void insertComment(Comment comment);
	-->
	<insert id="insertComment" parameterType="Comment">
		<selectKey keyProperty="commentNo"
					resultType="int"
					order="BEFORE">
			select app_comments_seq.nextval
			from dual
		</selectKey>
		insert into app_comments
		(comment_no, post_no, user_no, content)
		values
		(#{commentNo}, #{postNo}, #{userNo}, #{content})
	</insert>
	
	
	<!--
		List<Comment> getCommentsByPostNo(int postNo);
	-->
	<select id="getCommentsByPostNo" resultType="Comment">
		select
			c.comment_no commentNo
			, c.post_no postNo
			, u.user_no userNo
			, u.username "user.username"
			, u.name "user.name"
			, c.content
			, c.created_date createdDate
		from
			app_comments c, app_users u
		where
			c.user_no = u.user_no
			and c.post_no = #{postNo}
		order by 
			c.comment_no asc
	</select>
	
</mapper>