<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="pagination-search(page)" class="row mb-3">
		<div class="col-12">
			<form class="mb-3" th:action="@{${pageUrl}}" method="get">
				<div class="row g-3">
					<div class="col-2 offset-2">
						<select class="form-select" name="opt">
							<option value="title" th:selected="${#strings.equals(param.opt, 'title')}">제목</option>
							<option value="writer" th:selected="${#strings.equals(param.opt, 'writer')}">작성자</option>
							<option value="content" th:selected="${#strings.equals(param.opt, 'content')}">내용</option>
						</select>
					</div>
					<div class="col-6">
						<input type="text" class="form-control" name="keyword" th:value="${param.keyword}" />
					</div>
					<div class="col-2">
						<button type="submit" class="btn btn-primary">검색</button>
					</div>
				</div>
			</form>
			<nav th:if="${page.pagination.totalRows > 0}"
				 th:with="paging=${page.pagination}">
				<ul class="pagination justify-content-center">
					<li class="page-item"
						th:classappend="${paging.first} ? 'disabled' " >
						<a class="page-link"
						   th:href="@{${pageUrl}(page=${paging.prevPage}, opt=${param.opt}, keyword=${param.keyword})}">이전</a>
					</li>
					<li th:each="num : ${#numbers.sequence(page.pagination.beginPage, page.pagination.endPage)}" class="page-item"
					th:classappend="${paging.currentPage == num} ? 'active' ">
						<a class="page-link" 
						   
						   th:href="@{${pageUrl}(page=${num}, opt=${param.opt}, keyword=${param.keyword})}"
						   th:text="${num}">1</a>
					</li>
					<li class="page-item" 
						th:classappend="${paging.last} ? 'disabled'" >
						<a class="page-link" 
						   th:href="@{${pageUrl}(page=${paging.nextPage}, opt=${param.opt}, keyword=${param.keyword})}">다음</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

<div th:fragment="pagination(page)" class="row mb-3">
		<div class="col-12">
			<nav th:if="${page.pagination.totalRows > 0}"
				 th:with="paging=${page.pagination}">
				<ul class="pagination justify-content-center">
					<li class="page-item"
						th:classappend="${paging.first} ? 'disabled' " >
						<a class="page-link"
						   th:href="@{${pageUrl}(page=${paging.prevPage})}">이전</a>
					</li>
					<li th:each="num : ${#numbers.sequence(page.pagination.beginPage, page.pagination.endPage)}" class="page-item"
					th:classappend="${paging.currentPage == num} ? 'active' ">
						<a class="page-link" 
						   
						   th:href="@{${pageUrl}(page=${num})}"
						   th:text="${num}">1</a>
					</li>
					<li class="page-item" 
						th:classappend="${paging.last} ? 'disabled'" >
						<a class="page-link" 
						   th:href="@{${pageUrl}(page=${paging.nextPage})}">다음</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>


</html>