<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/base}" th:with="menu='posts'">
<div layout:fragment="content" class="container mt-4">
	<div class="row mb-3">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="d-flex justify-content-between">
						게시글
						<a sec:authorize="isAuthenticated()"
						   href="/posts/create" 
						   class="btn btn-primary btn-sm">새 글 작성</a>	
						<!--<th:block sec:authorize="isAuthenticated()">
							<a href="/posts/create" 
							   class="btn btn-primary btn-sm">새 글 작성</a>	
						</th:block>
						<th:block th:if="${#authorization.expression('isAuthenticated()')}">
							<a href="/posts/create" 
							   class="btn btn-primary btn-sm">새 글 작성</a>	
						
						</th:block>-->
					</h3>
				</div>
				<div class="card-body">
					<table class="table">
						<colgroup>
							<col width="10%" />
							<col width="10%" />
							<col width="*" />
							<col width="10%" />
							<col width="15%" />
						</colgroup>
						<thead>
							<tr>
								<th>순번</th>
								<th>글번호</th>
								<th>제목</th>
								<th>작성자</th>
								<th>등록일</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${!#lists.isEmpty(page.items)}" 
								th:each="post, state : ${page.items}">
								<td th:text="${state.count}">1</td>
								<td th:text="${post.postNo}">100</td>
								<td><a th:href="@{/posts/detail(no=${post.postNo})}" th:text="${post.title}">연습1</a></td>
								<td th:text="${post.user.name}">홍길동</td>
								<td th:text="${#dates.format(post.createdDate, 'yyyy-MM-dd')}">2025년 6월 15일</td>
							</tr>
							<tr th:if="${#lists.isEmpty(page.items)}">
								<td colspan="5" class="text-center">
								 	검색 조건에 맞는 게시글이 없습니다.
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<th:block th:replace="~{/fragments/pagination :: pagination-search(${page}) }"
			  th:with="pageUrl='/posts/list'">
	
	</th:block>
</div>	
</body>
</html>