<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="navbar-fragment" class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container">
      <a class="navbar-brand" href="/">샘플 애플리케이션</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav me-auto">
            <li class="nav-item">
               <a class="nav-link"
                  th:classappend="${menu == 'home'} ? 'active'"
                  href="/" >홈</a>
            </li>
            <li class="nav-item">
               <a class="nav-link"
                  th:classappend="${menu == 'posts'} ? 'active'"
                  href="/posts/list" >게시판</a>
            </li>
            <li class="nav-item"
            	sec:authorize="hasRole('ROLE_ADMIN')">
               <a class="nav-link" 
               th:classappend="${menu == 'admin'} ? 'active'"
               href="/admin/home">관리자</a>
            </li>
         </ul>
         <span class="navbar-text"
         	sec:authorize="isAuthenticated()">
            <strong class="text-white"
            	sec:authentication="principal.user.name" >홍길동</strong>님 환영합니다.
         </span>
         <ul class="navbar-nav">
         	<th:block sec:authorize="!isAuthenticated()">
            <li class="nav-item">
               <a class="nav-link" 
               th:classappend="${menu == 'login'} ? 'active'"
               href="/login">로그인</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" 
               th:classappend="${menu == 'register'} ? 'active'"
               href="/register">회원가입</a>
            </li>
            </th:block>
            <li class="nav-item" sec:authorize="isAuthenticated()">
               <form th:action="@{/logout}" method="post" class="d-inline">
                  <button type="submit" class="btn btn-link nav-link">로그아웃</button>
               </form>
            </li>
         </ul>
      </div>
   </div>
</nav>
</html>