<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/resources/favicon.ico" type="image/x-icon" />
	<title>샘플 애플리케이션</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="/">홈</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="/posts/list">게시판</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/home">관리자</a>
				</li>
			</ul>
			<span class="navbar-text">
				<strong class="text-white">hong</strong>님 환영합니다.
			</span>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/login">로그인</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/register">회원가입</a>
				</li>
				<li class="nav-item">
					<form action="/logout" method="post" class="d-inline">
						<button type="submit" class="btn btn-link nav-link">로그아웃</button>
					</form>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="container mt-4">
	<div class="row mb-3">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3>게시글 상세 정보</h3>
				</div>
				<table class="table table-bordered">
					<colgroup>
						<col width="15%">
						<col width="35%">
						<col width="15%">
						<col width="35%">
					</colgroup>
					<tbody>
						<tr>
							<th>번호</th>
							<td th:text="${post.postNo}">1</td>
							<th>작성자</th>
							<td th:text="${post.user.name}">홍길동</td>
						</tr>
						<tr>
							<th>제목</th>
							<td colspan="3" th:text="${post.title}">연습1</td>
						</tr>
						<tr>
							<th>등록일</th>
							<td th:text="${#dates.format(post.createdDate, 'yyyy년 M월 d일')}">2025년 6월 15일 </td>
							<th>수정일</th>
							<td th:text="${#dates.format(post.updatedDate, 'yyyy년 M월 d일')}">2025년 6월 15일</td>
						</tr>
						<tr>
							<th>첨부파일</th>
							<td colspan="3">
								<th:block th:if="${post.filename !=null}">
									<span th:text="${post.originalFilename}">sample.png</span>
									<a th:href="@{/posts/download(no=${post.postNo})}" class="btn btn-outline-primary btn-sm">다운로드</a>
								</th:block>
								<th:block th:if="${post.filename == null}">
									없음
								</th:block>
							</td>
						</tr>
						<tr>
							<th>내용</th>
							<td colspan="3" th:text="${post.content}">내용입니다.</td>
						</tr>
					</tbody>
				</table>
				<div class="card-footer text-end">
					<th:block sec:authorize="isAuthenticated()">
						<th:block th:if="${post.userNo == #authentication.principal.user.userNo}">
							<a th:href="@{/posts/update(postNo=${post.postNo})}" class="btn btn-warning">수정</a>
							<a th:href="@{/posts/delete(postNo=${post.postNo})}" class="btn btn-danger">삭제</a>	
						</th:block>
					</th:block>
					<a th:href="@{/posts/list}" class="btn btn-primary">목록</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3>댓글 목록</h3>
				</div>
				<div class="card-body">
					<form id="form-comment" class="mb-3">
						<div class="mb-3">
							<textarea rows="3" class="form-control" name="content"></textarea>
						</div>
						<button type="button" class="btn btn-primary" id="btn-add-comment">댓글 작성</button>
					</form>
					<!-- 댓글이 표시되는 곳 -->
					<div id="box-comments"></div>
				</div>
			</div>
		</div>
	</div>
</div>	
</body>
</html>