<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CommentMapper">

	<!-- 
		Comment getCommentByCommentNo(int commentNo); 
	--> 
   	<select id="getCommentByCommentNo" resultType="Comment">
      SELECT
          C.COMMENT_NO          AS commentNo
         ,C.POST_NO             AS postNo
         ,C.USER_NO            AS userNo
         ,U.USERNAME            AS "user.username"
         ,U.NAME               AS "user.name"
         ,C.CONTENT            AS content
         ,C.CREATED_DATE         AS createdDate
      FROM
         APP_COMMENTS C, APP_USERS U
      WHERE 
         C.USER_NO = U.USER_NO 
         AND C.COMMENT_NO = #{commentNo} 
   	</select>
    

	<!-- 
		public void insertComment(Comment comment);  
	--> 
   	<insert id="insertComment" parameterType="Comment">
      <selectKey keyProperty="commentNo" 
               resultType="int" 
               order="BEFORE"> 
          SELECT APP_COMMENTS_SEQ.nextval
          FROM DUAL
      </selectKey>
      
      INSERT INTO APP_COMMENTS
      (COMMENT_NO, POST_NO, USER_NO, CONTENT)
      VALUES
      (#{commentNo}, #{postNo}, #{userNo},#{content})
	</insert>

	<!-- 
		List<Comment> getCommentsByPostNo(int postNo); 
	-->
	<select id="getCommentsByPostNo" resultType="Comment"> 
      SELECT
          C.COMMENT_NO          AS commentNo
         ,C.POST_NO             AS postNo
         ,C.USER_NO            AS userNo
         ,U.USERNAME            AS "user.username"
         ,U.NAME               AS "user.name"
         ,C.CONTENT            AS content
         ,C.CREATED_DATE         AS createdDate
      FROM
         APP_COMMENTS C, APP_USERS U
      WHERE 
         C.USER_NO = U.USER_NO
         AND POST_NO = #{postNo} 
      ORDER BY 
         C.COMMENT_NO ASC
	</select>
   
	<!-- 
   		void deleteCommentByCommentNo(int commentNo);
    -->
    <delete id="deleteCommentByCommentNo">
		delete from 
			app_comments
		where 
			comment_no = #{commentNo}
	</delete>
</mapper>






